* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body {
    width: 100%;
    
}

body {
    background-color: rgba(241, 235, 235, 0.844);
    margin: 0;
    padding: 2%;
}

/* header styling */

.mainHeader {
    width: 100%;
    position: relative;
   
  
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;

    
}

.logo {
    
    float: left;
     width: 20%;
     margin-top: 0;
 }


 
 .menuBtn {
    font-size: large;
    text-decoration: none;
    background-color: #de5a40;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    padding: 40px 30px;
    box-shadow: 0px 6px 9px 1px #615f5f;
    float: left;
}

.mainNav {
    width: 100%;
    padding-right: 16px;
    background-color: black;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 2;
}

.mainNav a {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration:none;
    border-bottom: 2px solid #eee;
}

.mainNav a:last-child {
    border-bottom: 0;
}

.search {
    width: 30%;
    float: right;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

.search input {
    box-shadow: 0px 6px 9px 1px #615f5f;
    padding: 10px 10px;
    border: 0;
    border-bottom: 3px solid gray;
    width: 100%;
}

.search input:focus {
    border-bottom-color: #3949ab;
    outline: 0;
}

.searchIcon {
    position: absolute;
    top: 5px;
    right: 10px;
}









.jambotron {
    clear: both;
    background-image: url('../assets/img/ba.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin: 0 auto;
    
   
}

.overlay {
    margin-top: 20%;
    padding: 50px 5%;
    background-color: rgba(10, 5, 5, 0.15);
}

.jambotron h2 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    word-spacing: 10px;
}

.jambotron p {
    margin-bottom: 20px;
    font-size: large;
}

.jambotron q {
    font-style: italic;
    display: block;
    margin-bottom: 40px;
    
}

.primaryBtn,
.secondaryBtn {
    padding: 20px 10px;
    text-decoration: none;
   
    width: 70px;
}

.primaryBtn {
    background-color: #3949ab;
    color: white;
}

.secondaryBtn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.collaborate, .courses, .teachers {
margin-top: 40px;
margin-bottom: 100px;
padding-left: 20px;

}

.collaborate nav img{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.collaborate nav a {
    text-decoration: none;
}



.courses h2, .teachers h2, .from h2 {
    padding-bottom: 20px;
    padding-left:20px ;
}

.course, .teacher, .from {
    width: 100%;
    box-shadow: 0px 7px 16px 2px rgb(133 131 131);
    margin-top: 16px;
    margin-bottom: 30px;
    
}

.course h3 a,
.course p,
.teacher h3 a, .teacher p, .from h3 {
    padding: 16px 30px;
    color: #4e4e4e;
}

.course h3 a, .teacher h3 a {
    padding-bottom: 0;
    color: #3949ab;
    text-decoration: none;
} 

.box {
    text-align: center;
    padding-bottom: 40px;
}

.box q {
    text-align: center;
    padding: 20px 10%;
    
}

/* login and registration styling */
.formCon {
    clear: both;
    width: 80%;
    margin: 20% auto;
    border: 1px solid gray;
    padding: 20px;
    color: #3048e2;
}

.formCon h2 {
    text-align: center;
    padding-bottom: 20px;
}

.formCon label {
    font-weight: bold;
}

.formCon input {
    width: 95%;
    padding: 20px;
    margin: 20px 0;

}


.formCon input:focus {
    border-bottom-color: #3949ab;
    outline: 0;
}

.formCon button {
    width: 25%;
}
.formCon a {
    padding-left: 40px;
    font-size: larger;
}


/* footer styling */

.mainFooter {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #de5a40;
    color: white;
}

.media {
   padding-top: 20px;
   padding-bottom: 20px;

}

.media h3{
    padding-bottom: 20px;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    margin: 5px 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    color: #3B5998;
  }
  .fa-twitter {
    color: #55ACEE;
  }
  .fa-youtube {
    color: #bb0000;
  }
  
  .fa-instagram {
    color: #125688;
  }
  



.about h3 a {
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
}

.aboutNav {
   
    padding-top: 10px;
    padding-bottom: 30px;
}

.aboutNav a {
    color: white;
    display: block;
    text-decoration: none;
}

.mainFooter p {
    padding-bottom: 20px;
    font-size:8px;
 }



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

 }











